html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#scroll {
    height: 100%;
    overflow-x: scroll;    
    white-space: nowrap;
    width: 100%;
    text-align: center;
}

#scroll img {
    height: 100%;
    vertical-align: top; /* this prevents vertical whitespace */
    
}
